/*Import Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Passion+One&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');
@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css');


:root {
    --bg-color:#FAF8F8;
    --text-color:#5c5c5c;
    --object-color:#D08585;
    --stt-on: #637E5C;
    --stt-pause: #cc6161;
    --stt-done: #4662af;
    --layout-color:#D08585;
    --border-color:#D08585;
    --object-bg-color:transparent;
    --object-text-color:#D08585;
    --object-bg-color-hover:#D08585;
    --tag-bg-color:#D08585;
    --nav-bg-color:#ffffff;
    --navbrand-color:#D08585;
    --navbrand-color-hover:#5c5c5c;
    --shadow-color: #57181840;
}

.dark-mode {
    --bg-color: #1a202c;
    --text-color: #ffffff;
    --object-color: #4fd1c5;
    --layout-color:#011627;
    --border-color:#4fd1c5;
    --object-bg-color:transparent;
    --object-text-color:#ffffff;
    --object-bg-color-hover:#4fd1c5;
    --tag-bg-color:transparent;
    --stt-on: #4bac33;
    --stt-pause: #c74f4f;
    --stt-done: #456bd3;
    --nav-bg-color:#011627;
    --navbrand-color:#ffffff;
    --navbrand-color-hover:#4fd1c5;
    --shadow-color: #1b5c56c0;
}


.purple-mode {
    --bg-color: #1b0333;
    --text-color: #ffffff;
    --object-color: #ffa000;
    --layout-color:#160329;
    --border-color:#ffa000;
    --object-bg-color:transparent;
    --object-text-color:#ffffff;
    --object-bg-color-hover:#ffa000;
    --tag-bg-color:transparent;
    --stt-on: #4bac33;
    --stt-pause: #c74f4f;
    --stt-done: #456bd3;
    --nav-bg-color:#160329;
    --navbrand-color:#ffffff;
    --navbrand-color-hover:#ffa000;
    --shadow-color: #665118dc;
}

.blue-mode {
    --bg-color: #f1f6f7;
    --text-color: #55508D;
    --object-color: #141141;
    --layout-color: #55508D;
    --border-color:#55508D;
    --object-bg-color:transparent;
    --object-text-color:#55508D;
    --object-bg-color-hover:#55508D;
    --tag-bg-color:#55508D;
    --stt-on: #4bac33;
    --stt-pause: #c74f4f;
    --stt-done: #456bd3;
    --nav-bg-color:#f1f6f7;
    --navbrand-color:#55508D;
    --navbrand-color-hover:#141141;
    --shadow-color: #2c285857;
}

/*Style for body/html*/
html,
body {
    overflow-x: hidden;
    /*Do not show if contents are overflow horizontally*/
    scroll-margin: 0;
}

html {
    scroll-padding-top: calc(4.5rem - 1px);
}

/*Background*/
body {
    background-color: var(--bg-color);
    letter-spacing: 0.01em;
    font-family: "Plus Jakarta Sans", "Outfit";
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--object-color);
}

#mainNav {
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--object-color);
}

.active {
    border-bottom: 3px solid var(--object-color);
}

.navbar-brand, .navbar-brand::after, .navbar-brand:focus {
    color: var(--navbrand-color);
}

.navbar-brand:hover {
    color:var(--navbrand-color-hover);
}

.nav-link, .nav-link:focus {
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
}

.nav-link:hover, .nav-link:after {
    color: var(--object-color);
}

.collapse-icon {
    font-size: 1.8rem;
    color: var(--text-color);
    outline: white;
}

.color-switch {
    margin-left: 0.5rem;
    background-color: var(--bg-color);
    color: var(--object-text-color);
    font-weight: 600;
}

#masthead {
    background-image: url('https://liloscans.sirv.com/Covers/lilo-notext.webp');
    height: 30rem;
    background-size: cover;
    background-position-y: 40%;
    background-position-x: 30%;
}

li {
    list-style: none;
}

.start-block {
    background-color: var(--object-color);
    width: 5px;
}

.border-left-pink {
    border-left: 9px solid var(--object-color);
}

footer .container-fluid {
    background-color: var(--layout-color);
    color: white;
    margin-top: 5rem;
}

.tag {
    font-weight: 500;
    background-color: var(--tag-bg-color);
    color: white;
    padding: 0.1rem 0.4rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    flex-wrap: nowrap;
    border: 1px solid var(--border-color);
}

.status-on {
    color: var(--stt-on);
}

.status-pause {
    color: var(--stt-pause);
}

.status-done {
    color: var(--stt-done);
}

.manga-cover {
    width: 100%;
    /*box-shadow: 0 .3rem .3rem rgba(0,0,0,0.25);*/
}

.update-body {
    padding: 0 5%;
}

.underline {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--object-color);
}

.underline-50 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #b9b9b9;
}

.underline-fit {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--object-color);
    width: fit-content;
}

.custom-box {
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--object-text-color);
    font-weight: 600;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--object-bg-color);
}

.custom-box:hover, .custom-box:active {
    background-color: var(--object-bg-color-hover);
    color: white;
    text-decoration: none;
}

.line-bottom {
    display: inline-block;
    position: relative;
}

.line-bottom::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: var(--object-color);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.line-bottom:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text-under-comic {
    text-decoration: none;
    color:inherit;
    transition: all 0.2s ease-in-out;
}

.manga-panel {
    transition: all 0.2s ease-in-out;
    width: 25%;
}


.manga-img {
    transition: all 0.2s ease-in-out;
}

.manga-panel:hover > .text-under-comic {
    color: var(--object-color);
}

.manga-panel:hover > .manga-img {
    box-shadow: 0 0.3rem 0.5rem var(--shadow-color);
    border: 2px solid var(--object-color);
}

@media screen and (max-width:992px) {

    .color-switch{
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .info-box {
        display: flex;
        flex-direction: column;
    }
    
    .image-box {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .manga-panel {
        transition: all 0.2s ease-in-out;
        width: 50%;
    }
    
}
